body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

ul {
  overflow-y: scroll; /* 스크롤 활성화 */
  scrollbar-width: none; /* 파이어폭스에서 스크롤바 숨김 */
  -ms-overflow-style: none; /* 인터넷 익스플로러와 엣지에서 스크롤바 숨김 */

  max-height: 550px; /* 또는 원하는 높이 */
}

ul::-webkit-scrollbar {
  display: none; /* 웹킷(사파리, 크롬 등) 기반 브라우저에서 스크롤바 숨김 */
}

#chatting-ul li {
  display: flex;
  justify-content: space-between;
  min-height: 100px; /* 적절한 높이 값으로 설정하세요 */
}

#chatting-ul .card {
  flex: 1; /* 카드가 리스트 아이템의 전체 높이를 차지하도록 설정 */
}